@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zen Antique', serif;
}

body {
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: whitesmoke;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.wedo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
    justify-content: space-between;
}
#wedo-container {
    text-decoration: none;
}

.nav {
    width: 45%;
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}
li>a {
    text-decoration: none;
}

.lettalk {
    width: 10%;
}
.button-lettalk {
    background-color: white;
    border: 1.25px solid;
    border-radius: 6px;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 20.5rem;
    flex-basis: 50%;
}
.slogan {
    margin-bottom: 5%;
    font-size: 56px;
    font-weight: bold;
}
.content {
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    margin-top: 3%;
    margin-bottom: 5%;
}

.main-button-container {
    display: flex;
    margin-top: 3%;
    margin-bottom: 8%;
}
.main-button {
    border: 1.25px solid black;
    border-radius: 6px;
    flex-basis: 30%;
    font-size: 13px;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}
.left-button {
    margin-right: 2%;
    background-color: black;
    color: white;
    cursor: pointer;
}
.right-button {
    margin-left: 2%;
    background-color: white;
    color: black;
    cursor: pointer;
}

#main-img {
    margin-top: 3%;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 17%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}

.footer-content-container {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.sentences1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5%;
}
.sentences2 {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 5%;
}

.avatar-container {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
}

.avatar-series {
    margin-left: 2%;
}

#avt-4, #avt-3, #avt-2, #avt-1 {
    border: 1px solid black;
    border-radius: 12px;
}