* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: snow;
    color: #333;
    margin: 0 auto;
    max-width: 1000px;
}

.item {
    padding: 8px;
    background-color: white;
    border: 4px solid tomato;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.task-1.container {
    display: grid;
    height: 100vh;
    
    grid-template-rows: auto 1fr auto;
}

.height-50 {
    height: 50vh;
}

.task-2.container {
    display: grid;
    height: 100vh;
    
    column-gap: 12px;
    grid-template-columns: repeat(12, 1fr);
    
    align-items: center;
}

.task-2 .item-1 {
    grid-column-start: 2;   
    grid-column-end: span 4;
}

.task-2 .item-2 {
    grid-column-start: 6;   
    grid-column-end: span 6;
}

.task3-1.container {
    display: grid;
    height: 100vh;

    grid-template-rows: auto auto 1fr auto auto auto;
    gap: 24px;
}

@media (min-width: 720px) {
    .task3-1.container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto 1fr auto;
    }
    .task3-1 .header {
        grid-column: 1 / span 12;
    }
    .task3-1 .navigation {
        grid-column: 1 / span 12; 
    }
    .task3-1 .main {
        grid-column: 3 / span 10;
    }
    .task3-1 .sidebar {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    .task3-1 .ads {
        grid-column: 1 / span 2;
    }
    .task3-1 .footer {
        grid-column: 3 / span 10 ;
    }
}
.task3-1 .header {}
.task3-1 .navigation {}
.task3-1 .main {}
.task3-1 .sidebar {}
.task3-1 .ads {}
.task3-1 .footer {}